{% extends "layout.html" %}

{% block body %}
    <div class="main_div" id = 'instruct_ready_div'>
        <h1>Instructions</h1>

        <hr>

        <p id = 'initial_paragraph'></p>
        <p>You will get an additional bonus based on the number of words that you will be assigned to read. 
            This bonus will also be determined by your responses to the questions - the better your responses, the higher your bonus. 
            Depending on how much you read and how accurate your responses are, you can earn a bonus of up to $1.50.
        </p>
        <hr>

        <div>
            <div class="row">
                <div class="col-xs-10"></div>
                <div class="col-xs-2">
                    <button type="button" id = 'begin-button' class="btn btn-success btn-lg" onClick="dallinger.allowExit(); dallinger.goToPage('exp');">
                    Begin</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('#begin-button').addClass('disabled')
        dallinger.createParticipant();
        dallinger.getExperimentProperty('generation_size')
        .done(function (propertiesResp) {
          generation_size = propertiesResp.generation_size
          if (generation_size==1){
              var generation_text = 'a passage'
          } else if (generation_size==2){
            var generation_text = 'two passages'
          } else if (generation_size==3){
            var generation_text = 'three passages'
          } else{
            var generation_text = 'four passages'
          }
          $('#begin-button').removeClass('disabled')
          $('#initial_paragraph').html('In this experiment, you will read ' + generation_text + ' of text. We will then ask you some questions about the text afterwards.')
          $('#instruct_ready_div').css('display','block')
        })
        .fail(function (rejection) {
          // A 403 is our signal that it's time to go to the questionnaire
          if (rejection.status === 403) {
            dallinger.allowExit();
            dallinger.goToPage('questionnaire');
          } else {
            dallinger.error(rejection);
          }
        });
    </script>
{% endblock %}