{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Instructions</h1>

        <hr>

        <p>In this experiment, you will read two passages of text. Please pay attention. We will ask you some questions about the text afterwards.</p>
        <p><b>NB</b>: In this experiment you will be rewarded with an additional bonus based on the number of words that you will be assigned to read (up to a maximum of 1.50 <span>&#36;</span>).</p>
        <hr>

        <div>
            <div class="row">
                <div class="col-xs-10"></div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-success btn-lg" onClick="dallinger.allowExit(); dallinger.goToPage('exp');">
                    Begin</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        dallinger.createParticipant();
    </script>
{% endblock %}
