{% extends "base/consent.html" %}


{% block consent_text %}
            <p>This research is being conducted by Mathew Hardy, a graduate student, and Tom Griffiths, a faculty member, at Princeton University. This study takes between five and ten minutes.</p>
 
            <p>If you agree to take part in the research, you will be asked to play a game in which you will make a series of choices estimating the number of blue and green dots on the screen. On each round, you will get a bonus if your judgement is correct, and another bonus depending the true numbers of dots. All of the information we obtain during the research will be kept confidential, and not associated with your name in any way. However, while the study is running it will be associated with your MTurk worker id. Once the study is complete we will replace your worker id with a random string.</p>
 
            <p>Your participation in this research is voluntary. You are free to refuse to take part, and you may stop taking part at any time. You are free to discontinue participation in this study at any time with no penalty.</p>
 
            <p>If you have any questions about this research, do not hesitate to contact Mathew Hardy at mdhardy@princeton.edu. If you have questions regarding your rights as a research subject, or if problems arise which you do not feel you can discuss with the Investigator, please contact the Institutional Review Board at: Assistant Director, Research Integrity and Assurance, Phone: (609) 258-8543, Email: irb@princeton.edu</p>
  
            <p>By consenting to participate, you acknowledge that you are 18 years or older, have read this consent form, agree to its contents, and agree to take part in this research. If you do not wish to consent, close this page and return the HIT on Mechanical Turk.</p>
{% endblock consent_text %}

