{% extends "layout.html" %}

{% block body %}    
    <style>
    .preventcopy {
      -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
    }
    </style>

    <div class="main_div">
        <div id="stimulus">
            <h1 id ='header-text'></h1>
            <div><blockquote id="story"><p>&lt;&lt; loading &gt;&gt;</p></blockquote></div>
            <button id="finish-reading" type="button" class="btn btn-primary">Please read for at least 30 seconds</button>
        </div>


        <div id="intermediary_task" style="display:none;">
            <h1>What is the result of the following operation: 179+240=?</h1>
            <textarea rows="2"></textarea>
            <button id="task-completed" type="button" class="btn btn-primary">Continue</button>
        </div>


        <div id="response-form" style="display:none;">
            <p>Now using the information you received in the two texts, reproduce the passage to the best of your ability.<p>
            <textarea id="reproduction" class="form-control" rows="10"></textarea>
            <p></p>
            <button id="submit-response" type="button" class="btn btn-primary">Submit response.</button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        create_agent();
    </script>
{% endblock %}
